body {
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    text-align: center;
}
img {
    width: 100%;
}
h1 {
    font-size: 60px;
    font-family: 'Nunito', sans-serif;
    margin-top: 20px;
    margin-bottom: 2px;
    text-shadow: 2px 2px 3px #D4FFDA, 0 0 15px #B1D95B, 0 0 5px #FFFFFF;
}
p {
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    margin: 2px;
    text-shadow: 2px 2px 3px #D4FFDA, 0 0 5px #FFFFFF;
}
#wrapper {
    width: 1050px;
    min-height: 420px;
    height: auto;
    padding: 5px;
    margin: auto;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.2);
}
#venti {
    width: 230px;
    height: 230px;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    display: block;
}
#dialogue {
    width: 40%;
    height: 220px;
    margin-top: 10%;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 30px;
    border: 10px double black;
    float: left;
    display: block;
    background-color: beige;
    padding: 10px;
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
}
#options_wrapper {
    width: 290px;
    height: 390px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 10px;
    padding: 5px;
    float: right;
    display: block;
}
div[id^='options-'] {
    width: 113px;
    height: 113px;
    margin: 10px;
    border-radius: 10px;
    border: 2px outset black;
    float: left;
    display: block;
    background-color: rgba(255, 255, 255, 0.6);
}

