body {
    background-image: url(bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
#wrapper {
    width: 800px;
    min-height: 600px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    background-color: rgba(243, 244, 252, 0.8);
    font-family: 'Helvetica', sans-serif;
}
#header {
    width: 96%;
    height: 150px;
    margin: 0 auto;
    padding: 10px;
}
#header h1 {
    color: black;
    font-size: 48px;
    text-decoration: underline dotted #0E08A6  4px;
    text-align: center;
}
#navigation {
    width: 99%;
    height: 50px;
}
#navigation ul {
    list-style-type: none;
    margin-left: 20%;
    padding: 0;
}
#navigation a {
    min-width: 60px;
    padding: 3px;
    margin: 3px;
    float: left;
    font-size: 21px;
    text-decoration: none;
    border: 4px outset #090673;
}
#navigation a:link, #navigation a:visited {
    border: 4px outset #090673;
    color: #1F1E26;
}
#navigation a:hover {
    border: 4px outset #0b1d24;  
    color: #140CF2;
}
#content {
    width: 94%;
    height: auto;
    padding: 10px;
    margin: 10px;
    border: 3px solid #2f424d;
    display: block;
}
#content #content-wrapper{
    width: 94%;
    height: auto;
    padding: 15px;
    margin: auto;
    border: 2px solid #2f424d;
    display: block;
}
#content #content-wrapper #about-text h1{
    width: 96%;
    font-size: 28px;
    margin: 5px;
    text-align: center;
}
#content #content-wrapper #about-text h2{
    width: 96%;
    font-size: 22px;
    margin: 5px;
}
#content #content-wrapper #about-text p{
    width: 96%;
    font-size: 17px;
    text-align: justify;
    margin: 5px;
}
#content #content-wrapper #about-text img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border: 3px solid #bac0c6;
}
#content #content-wrapper #about-text-w-image h1{
    width: 96%;
    font-size: 25px;
    margin: 5px;
}
#content #content-wrapper #about-text-w-image p{
    width: 62%;
    font-size: 17px;
    text-align: justify;
    float:left;
    margin: 5px;
}
#content #content-wrapper #about-image img{
    width: 32%;
    min-height: 300px;
    margin: 10px;
    display: inline-block;
    border: 3px solid #bac0c6;
}
#content #content-wrapper #about-text ul{
    width: 88%;
    font-size: 18px;
    text-align: justify;
    margin: 2px;
}
#content #content-wrapper #gallery img{
    display: inline;
    margin-left: auto;
    margin-right: auto;
    width: 345px;
    height: 300px;
    border: 3px solid #bac0c6;
}
#footer {
    width: 96%;
    min-height: 50px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    display: block;
}





