body {
    background-image: url(bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
#wrapper {
    width: 1024px;
    min-height: 500px;
    margin: 0 auto;
    padding: 15px;
}
#content {
    width: 79%;
    min-height: 300px;
    float: left;
    margin-top: 60px;
    text-shadow: 2px 2px 3px #D4FFDA, 0 0 15px #B1D95B, 0 0 5px #FFFFFF;
}
#content p {
    font-family: 'Outfit', sans-serif;
    text-align: center;
    color: black;
    font-size: 35px;
}
#content span {
    font-family: 'Lexend', sans-serif;
    font-size: 30px;
    text-align: right;
    color: black;
    width: 90%;
    display: block;
}